extends base

block content
    form(method="POST")
        input(placeholder="Please Write Title", reqired, type="text", name="title")
        input(placeholder="Description", reqired, type="text", name="description")
        input(placeholder="Hashtags, separated by comma", reqired, type="text", name="hashtags")
        input(type="submit", value="Uplaod")